---
import "../styles/global.css";
import "../styles/swiper-bundle.min.css";
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon-32x32.png">
    <title>Flor'architecte</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  </head>

  <body class="font-primary">

    <slot /> 
    
    <!-- footer -->
		<footer class="footer pt-12 xl:pt-[150px]">
			<div class="container mx-auto pb-12 xl:pb-[100px]">
				<!-- logo  -->
				<div class="max-w-[300px] flex justify-center mx-auto mb-[30px]">
					<a href="./index.html">
						<img class="mb-[30px]" src="./assets/img/header/logo.png" alt="">
					</a>
				</div>
				<div class="flex flex-col xl:flex-row gap-x-5 gap-y-10 ">
					<!-- footer contact section -->
					<div class="footer__item flex-1 flex flex-col items-center">
						<!-- text section -->
						<div class="mx-auto">
							<!-- description -->
							<p class="mb-[20px]">Flora LEICARRAGUE - Architecte d'intérieur</p>
							<!-- location email phone -->
							<div class="flex flex-col gap-y-3 mb-10">
								<div class="flex items-center gap-x-[6px]">
									<i class="ri-map-pin-fill text-[24px] text-accent"></i>
									<div>
										Toulon(83100) - France
									</div>
								</div>
								<div class="flex items-center gap-x-[6px]">
									<i class="ri-mail-fill text-[24px] text-accent"></i>
									<div>
										leicarragueflora@gmail.com</div>
								</div>
								<div class="flex items-center gap-x-[6px]">
									<i class="ri-phone-fill text-[24px] text-accent"></i>
									<div>
										06 95 58 46 39</div>
								</div>
							</div>
							<!-- social -->
							<div class="flex gap-[14px] text-[30px]">
								<div
									class="p-[10px] rounded-[10px] shadow-custom2 text-accent-tertiary hover:text-accent cursor-pointer transition-all">
									<a href="https://www.instagram.com/florarchitecte/"><i class="ri-instagram-fill"></i></a>
	
								</div>
								<div
									class="p-[10px] rounded-[10px] shadow-custom2 text-accent-tertiary hover:text-accent cursor-pointer transition-all">
									<a href="https://www.facebook.com/profile.php?id=100090151565975"><i
											class="ri-facebook-circle-fill"></i></a>
								</div>
								<div
									class="p-[10px] rounded-[10px] shadow-custom2 text-accent-tertiary hover:text-accent cursor-pointer transition-all">
									<a href="https://www.linkedin.com/in/flora-leicarrague-4a7baa205/"><i
											class="ri-facebook-circle-fill"></i></a>
								</div>
							</div>
						</div>
	
					</div>
					<!-- footer link section -->
					<div class="footer__item flex-1">
						<div class="flex gap-x-5 ">
							<!-- list 1   -->
							<ul class="flex-1 flex flex-col gap-y-5">
								<li>
									<a href="./index.html" class="hover:text-accent transition-all">Accueil</a>
								</li>
								<li>
									<a href="./prestations.html" class="hover:text-accent transition-all">Prestations</a>
								</li>
								<li>
									<a href="./réalisations" class="hover:text-accent transition-all">Réalisations</a>
								</li>
								<li>
									<a href="./avis" class="hover:text-accent transition-all">Avis</a>
								</li>
	
							</ul>
							<!-- list 2   -->
							<ul class="flex-1 flex flex-col gap-y-5">
								<li>
									<a href="./contact.html" class="hover:text-accent transition-all">Contact</a>
								</li>
								<li>
									<a href="./about.html" class="hover:text-accent transition-all">Qui suis-je</a>
								</li>
								<li>
									<a href="./faq.html" class="hover:text-accent transition-all">FAQ</a>
								</li>
								<li>
									<a href="./actualité" class="hover:text-accent transition-all">Actualité</a>
								</li>
	
							</ul>
	
						</div>
					</div>
					<!-- footer hours  -->
					<div class="footer__item flex-1">
						<h4>Disponibilités</h4>
						<!-- list   -->
						<div class="flex flex-col gap-5">
							<!--  item  -->
							<div class="flex-1">
								<div class="flex justify-between items-center border-b pb-[10px]">
									<div>Lundi au Vendredi </div>
									<div class="text-accent font-medium">8h30 - 18h00</div>
								</div>
							</div>
							<!--  item 2 -->
							<div class="flex-1">
								<div class="flex justify-between items-center border-b pb-[10px]">
									<div>Samedi</div>
									<div class="text-accent font-medium">8h30 - 12h00 </div>
								</div>
							</div>
							<!--  item 3 -->
							<div class="flex-1">
								<div class="flex justify-between items-center border-b pb-[10px]">
									<div>Dimanche et jours fériés </div>
									<div class="text-accent font-medium">Indisponible</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- copyright -->
			<div class="py-[30px] border-t">
				<div class="container mx-auto text-center">
					<div class="font-light text-base">&copy; 2025 Flor'architecte - Tous droit réservé</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->
	
		<!-- SCRIPTS -->
		<!-- swiper js -->
		<script is:inline>
      const scripts = [
			'js/swiper-bundle.min.js',
      'js/scrolreveal.min.js',
      'js/main.js',
      ];

      scripts.forEach(src => {
        const script = document.createElement('script');
        script.src = src;
        script.defer = true;
        document.body.appendChild(script);
      });
    </script>
  </body>


</html>